<h2 id="title">Ember-Calendly</h2>
<ul>
  <li>{{link-to 'Inline' 'inline'}}</li>
  <li>{{link-to 'Popup Widget' 'popup-widget'}}</li>
  <li>{{link-to 'Popup Text' 'popup-text'}}</li>
</ul>
{{outlet}}
